body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(253, 237, 251);
    color:#EFF6E0;

    display: flex;
    flex-direction: column;
}

.intro, .conclusion-article{
    color: black;
}

body:not(header){
    margin: 10px;
}

p{
    font-size: 1.3em;
}


                                            /* HEADER */


header{
    background-color: black;
    list-style-type: none;
    width: 100vw;
    height: auto;
    margin-top: -0.7%;
    margin-left: -0.6%;
    font-weight: bold;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

nav{
    width: 100%;
}

.liste{
    margin: 25px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.lien {
    color: #EFF6E0;
    font-size: 1.4em;
    text-decoration: none;
}


                                        /* GRAND TITRE */

.intro{
    width: 100vw;

    display: flex;
    flex-direction: column;
}

.intro-img{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;
    margin-right: -1%; margin-left: -1%;
}

.intro img{
    width: 100%;
    margin-top: -11.5%;
}

.grand-titre{
    font-size: 200%;
    position: absolute;
    top: 32%; left: 30%;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    height: 80px;
    width: 700px;
    filter: opacity(90%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-article{
    font-size: 110%;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 270px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.intro-article p{
    width: 90%;
}



                                /* GENSHIN */


.intro-genshin{
    background-color: #3b548f;
    width: 101.2%;
    height: auto;
    margin-left: -0.6%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.genshin-para-img{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.genshin-para{
    display: flex;
    align-self: center;
    margin: 20px;
    line-height: 27px;
}

.genshin-para-img img{
    filter: invert(1);
    width: 25%;
    height: fit-content;
    margin: 50px;
    margin-bottom: 60px;
}

.genshin-images img{
    width: 19.5%;
    margin-bottom: 30px;

}

.genshin-images{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


                                    /* WEBTOON */

.intro-webtoon{
    background-color: #00D564;

    display: flex;
    flex-direction: row-reverse;
    width: 101.2%;
    margin-left: -0.6%;
}

.webtoon-para-img{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.webtoon-para-img img{
    width: 20%;
    height: fit-content;
}

.webtoon-para{
    display: flex;
    align-self: center;
    margin: 20px;
    line-height: 27px;
}

.webtoon-images img{
    width: 19.5%;
}

.webtoon-images{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
    margin: 30px;
    margin-right: -25.8%;
}

.webtoon-images1{
    display: flex;
    flex-direction: row;
}

.webtoon-images2{
    display: flex;
    flex-direction: row;
}



                                        /* TIKTOK */

.intro-tiktok{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    width: 101.2%;
    margin-left: -0.6%;
}

.tiktok-para-img{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tiktok-para-img img{
    width: 30%;
    height: fit-content;
}

.tiktok-para{
    display: flex;
    align-self: center;

    margin: 20px;
    margin-right: -10px;
    line-height: 27px;
    width: 48%;
}

.tiktok-images img{
    height: 18vh;
    width: fit-content;
}

.tiktok-images{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
}